#{extends 'main.html' /}
#{set title:'Acerca de' /}


<h2 align='center'> Control de Acceso a Usuarios </h2>

<h4 align='center'>
  Aplicacion - Version 1.0 - Desarrollado en Play Framework 1.2.5 <br /> <br />
</h4>

<p align='center'>
	<ul>Especificaciones de la aplicaci&oacuten</ul>
	<li>1</li>
	<li>2</li>
</p>

<p id="time">
    <span>${now.format("EEEE',' MMMM dd',' yyyy")}</span>
    ${now.format("hh'h' MM'mn' ss's'")}
</p>

<script type="text/javascript" charset="${_response_encoding}">
    setInterval(function() {
        $('section').load('@{index()} #time')
    }, 1000)
</script>