#{extends 'main.html' /}
#{set title:'Home' /}

		<div class="span9">
            <h2>Opciones de Menu y Acceso a Usuarios</h2>
            <hr>
		</div>
        <div class="span9">
          <div class="row-fluid">
            <div class="span3">
              <a href="@{Tipousuarios.index}"><img src="@{'public/images/tipos.png'}"> </a>
              
              <h4>Tipos de usuario</h4>
              
            </div><!--/span-->
            <div class="span3">
              <a href="@{Usuarios.index}"> <img src="@{'public/images/usuario.png'}"> </a>
              <h4>Usuarios del sistema</h4>
            </div><!--/span-->
            <div class="span3">
             <a href="#"> <img src="@{'public/images/menu.png'}"> </a>
              <h4>Opciones del menu</h4>
            </div><!--/span-->
            
            <div class="span3">
             <a href="#"> <img src="@{'public/images/control.png'}">
              <h4>Control de acceso</h4>
            </div><!--/span-->
          </div><!--/row-->
          <hr>
    </div><!--/.fluid-container-->    