<!DOCTYPE html>
<html>
    <head>
	<title>#{get 'title' /}</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" media="screen"
	href="@{'/public/bootstrap/css/bootstrap.min.css'}">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

	<link rel="stylesheet" media="screen"
		href="@{'/public/bootstrap/css/Responsive.css'}">
	
	<link rel="stylesheet" media="screen"
		href="@{'/public/stylesheets/main.css'}">

	<link rel="stylesheet" media="screen"
		href="@{'/public/datepicker/css/datepicker.css'}">
	
	#{get 'moreStyles' /}

	<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">

	<script src="@{'/public/javascripts/jquery-1.7.1.min.js'}"
		type="text/javascript" charset="UTF-8"></script>
	
	<script src="@{'/public/bootstrap/js/bootstrap.min.js'}"
		type="text/javascript" charset="UTF-8"></script>
	
	<script src="@{'/public/datepicker/js/bootstrap-datepicker.js'}"
		type="text/javascript" charset="UTF-8"></script>
		
	
	#{get 'moreScripts' /}
   </head>
    <body>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
            	#{menu/}
            </ul>
            <p class="navbar-text pull-right">Autenticado como <a href="#">${usuario}</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>    
   <div class="container">

		<div class="row">
		</div>
	</div>
	<!-- /container -->


    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li class="nav-header">Menu de usuario</li>
              #{tag_menu_usr /}
			  <li><a href="#">Twitter Bootstrap</a></li>
              <li class="nav-header">Menu del sistema</li>
              #{tag_menu_sis /} 
              <li><a href="#">MySQL</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
          			#{if flash.error}
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">&times;</a> ${flash.error}
			</div>
			#{/if} #{if flash.success}
			<div class="alert alert-success">
				<a class="close" data-dismiss="alert">&times;</a> ${flash.success}
			</div>
			#{/if}
          
          #{doLayout /}
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; Cl&iacute;nica de Odontolog&iacute;a - Unidad de Salud - USAC  2013</p>
      </footer>

    </div><!--/.fluid-container-->
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/jquery.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-transition.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-alert.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-modal.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-scrollspy.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-tab.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-tooltip.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-popover.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-button.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-collapse.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-carousel.js'}"></script>
    <script src="@{'/public/twitter-bootstrap-v2/docs/assets/js/bootstrap-typeahead.js'}"></script>
    
	<script type="text/javascript">
			$(document).ready(function() {

				$("#hostActions").html($("#actions").html());
				$("#actions").hide();

			});
		</script>

    </body>
</html>
